@import url("https://fonts.cdnfonts.com/css/century-gothic");

body {
  margin: 0;
  font-family: "Century Gothic", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 100%;
  padding: 1rem;

  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

input:checked + label {
  background-color: white;
  color: #000;
  mix-blend-mode: screen;
}

div > h2 {
  margin-bottom: 0;

  cursor: pointer;
}

.listHeader {
  font-size: 18px;
}
.listHeader:hover {
  text-decoration: underline;
}

button {
  background-color: white;
  border: none;
  color: #000;
  mix-blend-mode: screen;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
